.appActivity{
    width: 100%;
    overflow: hidden;
    padding-top: 80px;
    
    .contain{
        display: block;
        margin-top: 40px;

        li{
            float: left;
            overflow: hidden;

            &+li{
                margin-left: 21.33333px;
            }
            .info{
                width: 284px;
                float: left;
                position: relative;
                cursor: pointer;
                
                &:hover .shadow{
                    opacity: 1;
                }

                .shadow{
                    position: absolute;
                    width: 100%;
                    height: 200px;
                    line-height: 200px;
                    background: rgba(0,0,0,0.3);
                    color: #fff;
                    font-family: "SimSun";
                    letter-spacing: 2px;
                    font-size: 24px;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.3s linear;
                }
                .el-image{
                    cursor: pointer;
                    height: 200px;
                }
                p{
                    font-family: "SimSun";
                    font-size: 24px;
                    color: #333;
                    font-weight: bold;
                    margin-top: 60px;
                    text-align: center;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
            &:nth-child(2n){
                .info{
                    float: right;

                    p{
                        left: auto;
                        right: 100%;
                        margin-right: 40px;
                    }
                }
            }
        }
    }
    .appFooter{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}