@mixin bgCover($url){
    background-image: url(#{$url});
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin widthHeight100(){
    width: 100%;
    height: 100%;
}

@mixin positionCenter($width,$height){
    position: absolute;
    left: 50%;
    top: 50%;
    margin: #{-$height/2+"px"} 0 0 #{-$width/2+"PX"};
}

*,html,body{
    margin: 0;
    padding: 0;
}
a{
    color:#fff;
    text-decoration:none
}
em{
    font-style:normal
}
li{
    list-style:none
}
html,body{
    @include widthHeight100();
}
#app{
    @include widthHeight100();
}